/* Landing-Page CSS */
.landing-page{
    display: flex;
    justify-content: center;
    margin-top: 13px;
}

.lp-container{
    display: flex;
    align-items: center;
    width: var(--layoutwidth);
    font-family: var(--font-Poppins);
}

.lp-left, .lp-right{
display: flex;
flex-direction: column;
align-items: flex-start;
flex: 1;
}

.lp-text1{
margin-left: 6px;

font-weight: 300;
font-size: 4.25rem;
line-height: 102px;
letter-spacing: -0.03em;
color: var(--black);
}
.lp-text1 span{
    font-weight: bold;
}
.highlight{
  background-image: url('/Assets/Vector\ 3.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%;
}

.lp-text2{
margin-top: 26px;
font-family: var(--font-Poppins);
font-weight: 400;
font-size: 1rem;
line-height: 24px;
color: var(--graytext2);
}

.lp-btn{
display: flex;

font-weight: 400;
font-size: 19px;
letter-spacing: 0.02em;
padding: 12px 28px;
margin-left: 1px;
margin-top: 51px;
background: var(--primary);
border-radius: 8px;
}

.lp-right img{
    object-fit: cover;
    object-position: right;
    width: 158%;
    margin-left: -220px;
}

@media (max-width: 1280px) {
    .lp-text1{
        font-size: 48px;
        line-height: 80px;
    }
}

@media (min-width: 880px) and (max-width: 1182px){
    .lp-container{
        margin-top: 70px;
    }
}

@media (max-width: 880px) {
    .lp-container{
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }
    .lp-right img{
        width: 100%;
        margin-left: 0px;
    }
}
/*Landing-Page CSS*/
/*Company CSS*/
.company{
margin-top: 115px;
display: flex;
justify-content: center;
font-family: var(--font-Poppins);
}

.cp-container{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
gap: 43px;
width: var(--layoutwidth);
}

.cp-text {
font-weight: 500;
font-size: 1.75rem;
line-height: 160%;
letter-spacing: 0.02em;
color: var(--graycptext);
}

.cp-logo{
display: flex;
flex-wrap: wrap;
width: 100%;
justify-content: space-evenly;
}

.cp-img{
    height: max-content;
}
/*Company CSS*/
/*Main-Text CSS*/
.main-text{
margin-top: 145px;
font-family: 'Poppins';
font-weight: 500;
font-size: 28px;
line-height: 160%;
text-align: center;
letter-spacing: 0.02em;
color: var(--graycptext);
}

.main-text span{
    font-weight: bolder;
    color: var(--black);
}
/*Main-Text CSS*/
/*Courses CSS*/
.course{
margin-top: 91px;
display: flex;
justify-content: center;
}

.cr-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 95px;
    width: var(--layoutwidth);
    height: 461px;
}

.cr-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background: var(--gray);
    /* Drop Shadow/200 */
    box-shadow: 0px 1px 4px rgba(12, 12, 13, 0.1), 0px 1px 4px rgba(12, 12, 13, 0.05);
    border-radius: 2rem;
    padding: 62px 78px;
}

.cr-logo{
    filter: drop-shadow(0px 1px 4px rgba(12, 12, 13, 0.1)) drop-shadow(0px 1px 4px rgba(12, 12, 13, 0.05));
}

.cr-text{
margin-top: 32px;
width: 177px;
height: 24px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #373636;
}

.cr-btn{
margin-top: 21px;
display: flex;
justify-content: center;
align-items: center;
padding: 11px 21px;
gap: 10px;

width: 124px;
height: 37px;

box-sizing: border-box;
background: var(--primary);
border-radius: 8px;
}

.cr-btn a{
width: 81px;
height: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
text-align: center;

color: var(--graycrtext);
}
/*Courses CSS*/
/*Join-Now CSS*/
.join-now{
    display: flex;
    justify-content: center;
    margin-top: 160px;
}

.jn-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:109px;
    width: 83.68%;
    height: 517px;
}

.jn-img img{
        width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right bottom;
}

.jn-detail{
    display: flex;
    flex-direction: column;
    width: 548px;
}

.jn-textheading{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 180%;
/* identical to box height, or 65px */

color: var(--graycrtext);
}

.jn-text{
display: flex;
align-items: center;
gap: 16px;
margin-top: 10px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
/* identical to box height */

color: var(--grayjntext);
}

.jn-text img{
    border-radius: 24px;
}

.jn-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    margin-top: 39px;
width: 229px;
height: 69px;
background: var(--primary);
border-radius: 8px;
}

.jn-btn a{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */
color: var(--graytext);
}
/*Join-Now CSS*/

footer {
    width: 100%;
    height: 360px;
    margin-left: 8px;
    
    background-image: url('footer.png');
}

@media (max-width: 1124px) {
    .jn-container{
        width: 100%;
    }
}

@media (max-width: 922px){
    .jn-container{
        flex-direction: column;
    }
}

