@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header a{
color: inherit;
text-decoration: none;
}
/*Common CSS*/
/*Header CSS*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 76px;
    padding-inline: 8.68vw;
    box-sizing: border-box;
    margin-top: 27px;
}

.header-left{
    display: flex;
    align-items: center;
    width: 169px;
    height: 49px;
}

.hl-container{
    display: flex;
    align-items: center;
    width: 169px;
    height: 49px;
}

.header-right{
    display: flex;
    gap: 31px;
}

.brand-name{
    width: 107px;
    height: 34px;
    margin-left: 13px;

    font-family: 'Inter';
    font-weight: 700;
    font-size: 28px;
}

nav{
    width: 76px;
    height: 27px;
    margin-left: 66px;

    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;

    color: #3E3E3E;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 26px;
    box-sizing: border-box;
    background: #000000;
    border-radius: 8px;
}

.btn a{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;

    color: #FFFFFF;
}

.btn-primary{
    width: 101px;
    height: 44px;
}

.btn-secondary{
    width: 116px;
    height: 44px;
}

.hamburger-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: #000;
}

.header-right,
.hamburger-icon {
  transition: all 0.3s ease;
}

@media (max-width: 800px) {
  .header-right {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }

  .brand-name {
    display: none;
  }

  nav {
    margin-left: -90px;
  }

  .poster {
    padding-inline: 60px !important;
  }

  .flex-card {
    padding-inline: 60px !important;
  }

  .cr-cardtext {
    margin-left: 60px !important;
  }
}

.login, .signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

section {
    background-color: #ECEDEF;
    border-radius: 0.5rem;
    width: 24.938rem;
    height: 30.938rem;
    text-align: center;
    border-radius: 0.1rem;
}

/* sign up css */

.input-btn-ques-signup-group {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.input-btn-group-signup {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0 2rem;
}

/* login css */

.input-btn-ques-login-group {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.input-btn-group-login {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0 2rem;
}

/* common css */

.input-group {
    display: flex;
    gap: 1.3rem;
    margin-top: 1rem;
    flex-direction: column;
}

.input-group input {
    flex: 1;
    padding: 0.7rem;
    border: 0.125rem solid #000;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: #ECEDEF;
    outline: none;
}

.input-group input:focus {
    border-color: #000;  
    color: #000;
}

.input-group input::placeholder {
    font-weight: 600;
    color: #000;
}

.signup-login-btn {
    background-color: #C2F578;
    border: none;
    padding: 0.7rem;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 1rem;
}

p {
    letter-spacing: 0.05rem;
    font-weight: 600;
}

a {
    color: black;
}

/* common css */

.poster{
display: flex;
justify-content: center;
border-radius: 8px;
margin-top: 37px;
padding-inline: 125px;
}

.poster img{
width: 100%;
}

.cr-cardtext{
display: flex;
align-items: center;
gap: 15px;
margin-left: 141px;
margin-top: 91px;
}

.cr-cardtext p{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
/* identical to box height */
margin: 0px;
color: #3E3E3E;
}

.flex-card {
    display: flex;
    flex-wrap: wrap;
    column-gap: 93px;
    row-gap: 59px;
    justify-content: center;
    margin-top: 28px;
    padding-inline:128px;
}

.flex-card img {
    width: 334px;           /* fixed width */
    height: 273px;          /* fixed height */
    background-color: #ECEDEF; /* placeholder color */
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    font-size: 1.5rem;
    border-radius: 12px;
    flex-grow: 1;           /* allows items to expand to fill remaining space */
}
